* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway-Regular';
}

body {
    font-size: 14px;
    line-height: 24px;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../font/Raleway-Regular.ttf);
}

.container {
    padding: 100px 60px 00px 60px;
}

.float-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    margin-left: 7%;
    width: 55%;
}

.img-container {
    margin-right: 7%;
    width: 55%;
}

.img-container-img {
    width: 100%;
}

.huge-font {
    font-size: 3.8em;
    /* width: 70%; */
}

nav {
    z-index: 1;
    height: 45px;
    /* opacity: .3; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* clear: both; */
    /* display: block; */
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
}

h2 {
    opacity: 1;
    /* color: black; */
    margin-left: 30px;
    font-weight: 100;
    font-size: 1em;
    /* text-transform: uppercase; */

}

h1 {
    line-height: 1em;
    font-size: 2em;
    color: white;
    padding: 10px;
    padding-bottom: .8em;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 24px;
}

h4 {
    color: white;
    margin-bottom: 24px;
}


ul {
    margin-right: 32px !important;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    list-style: none;
}


a {
    opacity: 1;
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

img {
    top: 0;
}

main {
    width: 100%;
}

.hero {
    background-image: url("../img/div.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.seo {
    /* width: 100vw; */
    color: white;
    padding-bottom: 100px;
}

.seo_txt {
    width: 40%;
    color: black;
}

.seo_txt p {
    margin-bottom: 40px;
}

.limit_txt {
    /* width: 70%; */
    margin: 0 15%;
    color: black;
    padding-bottom: 24px;
    font-size: 14px;
    text-align: center;
}

.limit_img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;

}

.parallax {
    overflow: hidden;
    padding: 100px 15%;
    /* box-sizing: inherit; */
    text-align: center;
    background-image: url("../img/photo-1452723312111-3a7d0db0e024.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

.parallax_txt {
    /* width: 70%; */
}

.parallax_txt p {
    color: white;
    margin-bottom: 2em;
    /* width: 70%; */
}

.portfolio {
    background-color: #f5f5f589;
    /* width: 100vw; */
    padding-bottom: 100px;
}

.limit {
    text-align: center;
}

.projects {
    background-color: black;
    color: white;
    padding: 100px 0;
    text-align: center;
    /* width: 100vw; */
}

.feedback {
    background-image: url("../img/photo-1451417379553-15d8e8f49cde.jpg");
    background-size: cover;
    /* width: 100%; */
    height: 495px;
    text-align: center;
    padding: 0 20%;
}

.feedback p {
    color: white;
    padding-bottom: 24px;
}

.clients {
    padding: 100px 15%;
    text-align: center;
}

.clients h3 {
    padding-bottom: 2em;
}

.cta {
    padding: 100px 8%;
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta h3 {
    color: black;
    text-align: left;
    padding-right:15px
}


footer {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: left;
    /* height: 200px; */
}

.banner {
    /* margin: 193px 0 40px 220px; */
    /* top:200px */
    text-align: center;
    color: white;
    position: absolute;
}

.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

button {
    /* margin: 10px; */
    margin-right: 10px;
    margin-bottom: 25px;
    padding: 10px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-white {
    background-color: transparent;
    border: white solid 2px
}


.btn-white:hover {
    background: #fff;
    border-color: #fff;
    color: #222;
}

.btn-blue {
    background: #745cf9;
    color: #fff;
    border-color: #745cf9;
    border: #745cf9 solid 0px
}

.btn-blue:hover {
    background: #745df9cc;
    border-color: #745df9cc;
    border: #745df9cc solid 0px;
    color: #fff;
}

.album {
    display: flex;
    /* border: red solid 5px; */
    /* /* width: 100%; */
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.album-img {
    width: 25%;
    object-fit: cover;
    /* border: red solid 5px;  */
    /* height: auto; */

}

.portrait {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* Style the hamburger menu */
nav a.icon {
    /* background: black; */
    display: block;
    position: absolute;
    font-size: 26px;
    right: 20px;
    top: 20px;
  }

.icon {
    visibility: hidden;
}

/* phones  */
@media only screen and (max-width: 600px) {
   
    
}

/* tablets */
@media only screen and (max-width: 992px) {
    .icon {
        visibility: visible;
    }

    nav ul {
        visibility:hidden;
    }

    .float-container {
        flex-direction: column;
    }
}


